@charset "UTF-8";
/*
 *
 * SkyBlue Sass by Stanko
 *
 * Built and maintained with a lots of love
 * http://null-object.com
 *
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

.link-group{
  width:357px;
  margin:0 auto 0 auto;
  margin-top: 10%;
  text-align: center;
}


.btn-success{
  padding:10px 6%;
}
.btn-danger{
  padding:10px 6%;
}
.btn-warning{
  padding:10px 6%;
}

.header{
  text-align: center;
  height: 20px;
}

.form-control{
  height: 80px;
  text-align: right;
}

button{
  width:90px;
  height: 80px;
}

.input-group{
  width:357px;
  margin: 0 auto 0 auto;
}

/*
.form-control{
  text-align: left;
}
*/

.btn-toolbar{
  flex-flow: column;
}

.btn-group{
  margin: 0 auto;
  justify-content: center;
}

@media(max-width: 370px){
  body{
    width:100%;
    margin:auto;
  }

  .link-group{
    width:310px;
    margin:0 auto 0 auto;
    margin-top: 7%;
    margin-bottom: 3%;
    text-align: center;
  }

  .btn-success{
    padding:7px 6%;
  }
  .btn-danger{
    padding:7px 6%;
  }
  .btn-warning{
    padding:7px 6%;
  }

  button{
    width:80px;
    height:80px;
  }

  .input-group{
    width:317px;
    margin: 0 auto 0 auto;
  }

}

.bg-violet {
  background-color: #8A2BE2;
  color: #fff;
}



/*    */
.bg-main {
  background-color: #3498DB;
  color: #fff; }

.bg-success {
  background-color: #1BBC9B;
  color: #fff; }

.bg-error {
  background-color: #E74C3C;
  color: #fff; }

.bg-warning {
  background-color: #F1C000;
  color: #fff; }

.bg-light {
  background-color: #ecf0f1;
  color: #999; }

.bg-dark {
  background-color: #252428;
  color: #fff; }

.bg-white {
  background-color: #fff; }

.padding-y-5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px; }
.container:before, .container:after {
  content: " ";
  display: table;
  line-height: 0; }
.container:after {
  clear: both; }

  .color-main {
    color: #3498DB; }

  .color-success {
    color: #1BBC9B; }

  .color-error {
    color: #E74C3C; }

  .color-warning {
    color: #F1C000; }

  .color-light {
    color: #ecf0f1; }

  .color-dark {
    color: #252428; }

  .color-black {
    color: #000; }

  .color-white {
    color: #fff; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

  .btn {
    display: inline-block;
    min-width: 120px;
    padding: 10px 25px;
    margin-bottom: 1em;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    line-height: 1.4em;
    text-align: center;
    text-decoration: none;
    transition: border-color 0.25s, background-color 0.25s, color 0.25s;
    background: #3498DB;
    color: #fff; }

    button, input[type="submit"], input[type="button"] {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      font-size: 1em;
      -webkit-appearance: none;
      -webkit-font-smoothing: antialiased; }

      .padding-y-5 {
        padding-top: 5px;
        padding-bottom: 5px; }

        .table {
          width: 100%;
          margin-bottom: 1em; }
          .table th, .table td {
            padding: 8px;
            line-height: 1.5em;
            vertical-align: top;
            border-top: 1px solid #ddd; }
          .table thead th {
            vertical-align: bottom;
            font-weight: 700; }
          .table caption + thead tr:first-child th, .table caption + thead tr:first-child td, .table colgroup + thead tr:first-child th, .table colgroup + thead tr:first-child td, .table thead:first-child tr:first-child th, .table thead:first-child tr:first-child td {
            border-top: 0; }
          .table tbody + tbody {
            border-top: 2px solid #ddd; }
          .table .table {
            background-color: #fff; }

        .table-condensed th, .table-condensed td {
          padding: 4px 5px; }

        .table-bordered {
          border: 1px solid #ddd;
          border-collapse: separate;
          border-left: 0;
          border-radius: 3px; }
          .table-bordered th, .table-bordered td {
            border-left: 1px solid #ddd; }
          .table-bordered caption + thead tr:first-child th, .table-bordered caption + tbody tr:first-child th, .table-bordered caption + tbody tr:first-child td, .table-bordered colgroup + thead tr:first-child th, .table-bordered colgroup + tbody tr:first-child th, .table-bordered colgroup + tbody tr:first-child td, .table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
            border-top: 0; }
          .table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child {
            border-top-left-radius: 3px; }
          .table-bordered thead:first-child tr:first-child > th:last-child, .table-bordered tbody:first-child tr:first-child > td:last-child, .table-bordered tbody:first-child tr:first-child > th:last-child {
            border-top-right-radius: 3px; }
          .table-bordered thead:last-child tr:last-child > th:first-child, .table-bordered tbody:last-child tr:last-child > td:first-child, .table-bordered tbody:last-child tr:last-child > th:first-child, .table-bordered tfoot:last-child tr:last-child > td:first-child, .table-bordered tfoot:last-child tr:last-child > th:first-child {
            border-bottom-left-radius: 3px; }
          .table-bordered thead:last-child tr:last-child > th:last-child, .table-bordered tbody:last-child tr:last-child > td:last-child, .table-bordered tbody:last-child tr:last-child > th:last-child, .table-bordered tfoot:last-child tr:last-child > td:last-child, .table-bordered tfoot:last-child tr:last-child > th:last-child {
            border-bottom-right-radius: 3px; }
          .table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
            border-bottom-left-radius: 0; }
          .table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
            border-bottom-right-radius: 0; }
          .table-bordered caption + thead tr:first-child th:first-child, .table-bordered caption + tbody tr:first-child td:first-child, .table-bordered colgroup + thead tr:first-child th:first-child, .table-bordered colgroup + tbody tr:first-child td:first-child {
            border-top-left-radius: 3px; }
          .table-bordered caption + thead tr:first-child th:last-child, .table-bordered caption + tbody tr:first-child td:last-child, .table-bordered colgroup + thead tr:first-child th:last-child, .table-bordered colgroup + tbody tr:first-child td:last-child {
            border-top-right-radius: 3px; }

        .table-striped tr:nth-child(odd) > td {
          background-color: #f7f7f7; }

        .table-hover tr:hover > td {
          background-color: #5faee3;
          border-left-color: #5faee3;
          color: #fff; }
          .table-hover tr:hover > td:first-child {
            border-left: 1px solid #ddd; }


@-moz-document url-prefix() {
    select, select.form-control {
    background-color: #fff;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPScxLjEnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZycgeG1sbnM6eGxpbms9J2h0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsnIHdpZHRoPSczNicgaGVpZ2h0PScyMCcgdmlld0JveD0nMCAwIDIwIDIwJz48cGF0aCBkPSdNMTcuNDE4IDYuMTA5YzAuMjcyLTAuMjY4IDAuNzA5LTAuMjY4IDAuOTc5IDBzMC4yNzEgMC43MDEgMCAwLjk2OWwtNy45MDggNy44M2MtMC4yNyAwLjI2OC0wLjcwNyAwLjI2OC0wLjk3OSAwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEgMC0wLjk2OXMwLjcwOS0wLjI2OCAwLjk3OSAwbDcuNDE5IDcuMTQxIDcuNDE4LTcuMTQxeicgZmlsbD0nIzQ0NDQ0NCc+PC9wYXRoPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 36px; } }
