@charset "utf-8";

#cover {
    width:1200px;
    background-color: #bbbcde;
    background-repeat:repeat-y;
    margin-right:auto;
    margin-left:auto;
}

#contents {
    width: 900px;
    height: 800px;
    margin-right:auto;
    margin-left:auto;
    background-color: #d9aacd;
}

.header {
  background: desaturate(lime, 60%);
  color: white;
  text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
               10px 20px 5px rgba(0,0,0,0.05),
               -10px 20px 5px rgba(0,0,0,0.05);
}

.link-group{
  width:357px;
  margin:0 auto 0 auto;
  text-align: center;
  padding-top: 100px;
}

.btn-success{
  padding:9px 6%;
}
.btn-danger{
  padding:9px 6%;
}
.btn-warning{
  color: white;
  padding:9px 6%;
}

.header{
  text-align: center;
  height: 40px;
  font-size: 30px;
}

.form-control{
  height: 80px;
  text-align: right;
}

button{
  width:90px;
  height: 80px;
}

.input-group{
  width:357px;
  margin: 0 auto 0 auto;
}

/*
.form-control{
  text-align: left;
}
*/

.btn-toolbar{
  flex-flow: column;
}

.btn-group{
  margin: 0 auto;
  justify-content: center;
}

.btn-info{
  margin:0 auto 0 auto;
  text-align: center;
  padding-top: 80px;
  padding:12px 8%;
}

@media(max-width: 370px){
  body{
    width:100%;
    margin:auto;
  }

  .link-group{
    width:310px;
    margin:0 auto 0 auto;
    margin-top: 7%;
    margin-bottom: 3%;
    text-align: center;
  }

  .btn-success{
    padding:7px 6%;
  }
  .btn-danger{
    padding:7px 6%;
  }
  .btn-warning{
    padding:7px 6%;
  }

  button{
    width:80px;
    height:80px;
  }

  .input-group{
    width:317px;
    margin: 0 auto 0 auto;
  }

}
