@charset "utf-8";

body{
  background-color: #000;
  text-align: center;
  color: #FFF;
}

h1{
  color: #ACB6E5;
  background: -webkit-linear-gradient(0deg, #ACB6E5, #86FDE8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div{
  text-align: center;
}
table,td,tr{
  border: solid 20px black;
}

.card{
  width:21rem;
}

.header {
	font-size: 24px;
	display: flex;
	align-items: center;
}
.header::before, .header::after {
	content: "";
	flex-grow: 1;
	height: 15px;
	display: block;
}
.header::before {
	margin-right: .4em;
	background: linear-gradient(-90deg, #888, transparent);
}
.header::after {
	margin-left: .4em;
	background: linear-gradient(90deg, #888, transparent);
}

/* smart phone */
@media (max-width: 700px) {
  body{
    width:100%;
    margin:auto;
  }

  .header {
    margin-top:10px
  }

  table{
    margin:0 auto;
    padding:0 auto;
    border: solid 0px black;
  }

  tr,td{
    display:block;
    width:100%;
    border: solid 0px black;
  }

  .card{
    width:19rem;
  }
}
